@import "./imports/_normalize.scss";

$tablet: 768px;
$desktop: 1024px;

@mixin media-query($screen-size) {
  @media screen and (min-width: $screen-size) {
    @content;
  }
}

*{ box-sizing: border-box }
body {
  background: #67A87B;
}
img {
   width: 100%;
   display: block;
}

#app-container{
   height: 100vh;
   width: 100%;
   margin: 0;
   font-family: "Palatino", sans-serif;
}
// begin navigation bar
.navbar-main {
  background: #67A87B;
}
.navbar-border {
  border-color: transparent;
}
.nav-logo {
  padding: 5px 0 0 10px;
  img {
    height: 40px;
    width: 40px;
    display: none;
  }
}
.bars-icon-div{
  position: relative;
}

.bars-icon i {
  color: white;
  padding-top: 4px;
}
.bar-icon-box {
  position: absolute;
  width: 40px;
  height: 40px;
  background: black;
  top: 10;
  left: 20;
}
.navbar-links-left {
  padding-left: 30px;

}
.navbar-links-right {
  padding-right: 30px;
}
.navlinks  a {
  cursor: pointer;
}

// begin information link header
.info-header {
  text-align: center;
  padding-top: 0;
  a {
    text-decoration: none;
    color: lightgrey;
    cursor: pointer;
    p {
      color: lightgrey;
      border: 1px solid lightgrey;
      width: 300px;
      height: 40px;
      margin: 0 auto 20px;
      padding-top: 10px;
      font-size: 12px;
    }
  }
}
.info-header a:hover,
.info-header a p:hover {
  background: dodgerblue;
}

//begin artist selling big pitch
.artist-header {
  background: white;
  width: 100%;
  height: 300px;
  margin: auto;
  h1 {
    padding-top: 20px;
    padding: 18px;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 40px;
  }
  p {
    width: 75%;
    margin: auto;
    padding-bottom: 40px;
    font-size: 17px;
  }
}

// Begin artist profile intro
.profile-info {
  height: 200px;
}
.pic-container {
  width: 60%;
  margin:auto;
  img {
    width: 100%;
    margin-top: 15px;
    padding: 0;
  }
}
.profile-info,
.project-info {
  text-align: center;
  background: white;
}
.profile-info h4,
.project-info {
  margin: 0;
  padding-top: 20px;
  line-height: 1.5em;
  padding-bottom: 20px;
}
.profile-info span {
  color: green;
}

// Begin Grants info
.grants-text {
  text-align: center;
  width: 100%;
  padding: 0px 10px;
  display: box;
}
.grants-text h1 {
  padding-top: 50px;
  font-size: 30px;
  font-weight:100;
}
.grants-text p {
  color: #636F68;
  padding: 0 50px 40px 50px;
}

// Begin project pics
.project-column {
  margin: 15px;
}
.project-container {
  width: 100%;
}
.view-link:hover {
  a {
    cursor: pointer;
  }
  p{
    color: dodgerblue;
  }
}
.project-info {
  height: 100px;
  position: relative;
}
.project-info a{
  position: absolute;
  text-decoration: none;
  color: lightgrey;
  right: 15; bottom: 5;
}
.project-info h4 {
  line-height: 1.5em;
  font-size: 18px;
  color: #8F8F8F;
}
.project-info span {
  color: lightgrey;
  font-size: 15px;
}
.home-studio {
  margin-bottom: 70px;
}

// Begin footer
.footer {
  position:relative;
  width: 100%;
  display: block;
  text-align: center;
}
.footer img {
  width: 100%;
  height: 300px;

}

// Begin join our team link area
.join-our-team {
  position: absolute;
  height: 50px;
  width: 60%;
  background: #6A809E;
  border-radius: 10px;
  color: white;
  top: 50%;
  left: 20%;
  margin: auto;
  padding-bottom: 50px;
  text-align: center;
  border: 1px solid white;
  a{
    text-decoration: none;
    color: white;
  }
  p {
    margin: 0;
    padding-top: 18px;
  }
}
.join-our-team a:hover {
  cursor: pointer;
}
.join-our-team p:hover {
  color: black;
}
.join-our-team:hover {
  background: dodgerblue;
  cursor: pointer;
}

//Begin social links
.social-links {
  background: white;
}
.social-links img {
  height: 30px;
  width: 30px;
  display: inline-block;
  vertical-align: top;
  margin: 30px 0 30px 30px;
}

@media screen and (max-width: 1024px){
  .team-background {
    display: none;
  }
}
@include media-query($tablet){
  .bars-icon-div {
    background: black;
    display: normal;
  }
  .bars-icon i {
    display: none;
  }
  .nav-logo img {
    display: block;
  }
  .bar-icon-box {
    background: none;
  }
  .info-header {
    padding-top: 20px;
  }
  .pic-container {
    width: 90%;
  }
  .grants-text p {
    padding: 0 100px 40px 100px;
  }
}



@include media-query($desktop){
  .join-our-team {
    width: 50%;
  }
  .artist-header {
    padding-left: 10%;
    padding-right: 10%;
  }
  .grants-text p {
    padding: 0 250px 40px 250px;
  }

  .team-background {
    height: 500px;
    width: 100%;
    background: url("../images/solrod-team-background.jpg")center,center,no-repeat;
    background: cover;
    margin-top: 50px;
    display: block;
  }
  .small-but-mighty img {
    height: 400px;
    width: 100%;
    margin-top: 50px;
  }
}
